doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/material.min.css')
    link(rel='stylesheet', href='/stylesheets/demo/styles.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    script(src='https://storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js')

  body
      block content
